{% if not object.isSent and not object.isScheduled  %}
    {% set total = count_users(object) %}
    {% if total > 0 %}
        <a
                href="{{ admin.generateObjectUrl('send', object, actions.link_parameters|default([])) }}"
                class="btn btn-sm btn-default"
                title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}"
                data-id="{{ object.id }}"
                data-total="{{ total }}"
                id="send-{{ object.id }}"
        >
            <i class="fa fa-send" aria-hidden="true"></i>
            Envoyer ({{total}})
        </a>
    {% else %}
        <button class="btn btn-sm btn-default disabled" disabled><i class="fa fa-send" aria-hidden="true"></i> Aucun destinataire</button>
    {% endif %}

    <script type="text/javascript">
        var confirmIt = function showloader(e) {
            if (confirm('Êtes vous sûr de vouloir envoyer cette newsletter à ' + e.target.dataset.total + ' email(s) ? ')) {
                document.getElementById('send-' + e.target.dataset.id).innerHTML = '    <i class="fa fa-spinner fa-spin fa-fw" aria-hidden="true"></i>\n' +
                    '    Envoi en cours';
            }else{
                e.preventDefault()
            }
        }
        document.getElementById('send-{{ object.id }}').addEventListener('click', confirmIt);

    </script>

{% endif %}
