{% set total = count_users(object) %}
<a
    href="{{ admin.generateObjectUrl('send', object, actions.link_parameters|default([])) }}"
    class="btn btn-sm btn-default js-send-newsletter"
    title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}"
    data-id="{{ object.id }}"
    data-total="{{ total }}"
    id="send-{{ object.id }}"
>
    <i class="fa fa-send" aria-hidden="true"></i>
    Envoyer ({{total}})
</a>
<script type="text/javascript">
    var elems = document.getElementsByClassName('js-send-newsletter');
    var confirmIt = function showloader(e) {
        if (confirm('Êtes vous sûr de vouloir envoyer cette newsletter à ' + e.target.dataset.total + ' email(s) ? ')) {
            document.getElementById('send-' + e.target.dataset.id).innerHTML = '    <i class="fa fa-spinner fa-spin fa-fw" aria-hidden="true"></i>\n' +
                '    Envoi en cours';
        }else{
            e.preventDefault()
        }
    }
    for (var i = 0, l = elems.length; i < l; i++) {
        elems[i].addEventListener('click', confirmIt);
    }

</script>
